@media (min-width: 413px), (min-height: 918px) {
}

@font-face {
  font-family: "Pixelade";
  src: url("../fonts/PIXELADE.ttf");
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 110px;
}

#header_img_ovni2_b {
  position: relative;
  top: 30px;
  animation: reverseFloat 7s ease-in-out infinite;
}

#header_img_ovni1_b {
  animation: float 7s ease-in-out infinite;
}

#header_img_ovni3_b {
  animation: float 7s ease-in-out infinite;
  animation-delay: 1s;
}

.header_img_b {
  width: auto;
  height: 30px;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-10px) translateX(10px);
  }

  50% {
    transform: translateY(0) translateX(0px);
  }

  75% {
    transform: translateY(10px) translateX(10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes reverseFloat {
  0% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(10px) translateX(10px);
  }

  50% {
    transform: translateY(0) translateX(0px);
  }

  75% {
    transform: translateY(-10px) translateX(10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pixelade";
  color: #ffffec;
  text-align: center;
}

#background_b {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  margin-top: 35px;
}

.main_div_b {
  width: 100%;
  text-align: center;
}

.main_div_paragraph_b {
  font-size: 32px;
  position: fixed;
  top: 22%;
  margin: 10px 30px;
  opacity: 1;
  transition: opacity 1s ease;
}

.main_logo_img_b {
  max-height: 500px;
  width: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.body_button_b {
  color: #ffffec;
  font-family: "Pixelade";
  background-color: #c51e32;
  border-style: none;
  border: 6px;
  border-radius: 15px;
}

.body_button_b:hover {
  background-color: #008a85;
  color: #fcfc40;
}

#body_start_button_b {
  padding: 8px 45px;
  font-size: 20px;
  position: fixed;
  left: 50%;
  top: 78%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
}

#body_skip_button_b {
  opacity: 0;
  margin-right: 5px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 30px;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

#credits_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

#credits_text {
  font-size: 24px;
  text-align: center;
  line-height: 1.8;
  width: 80%;
  color: #ffffec;
  animation: scrollCredits 15s linear forwards;
}

@keyframes scrollCredits {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

body {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  background-color: #030711;
}

body.fade-in {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
