@font-face {
  font-family: "PIXELADE";
  src: url("../fonts/PIXELADE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pixelade", sans-serif;
  font-size: 16px;
}

#main-container {
  display: flex;
  width: 412px;
  height: 917px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#background_a {
  width: 100%;
  height: 100%;
  background-image: url("../images/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ship-container {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ship1_a,
.ship2_a {
  width: 25%;
  position: absolute;
  top: 12%;
}

.ship1_a {
  display: flex;
  left: 5%;
  animation: float 7s ease-in-out infinite;
}

.ship2_a {
  display: flex;
  right: 5%;
  animation: float 7s ease-in-out infinite;
  animation-delay: 1s;
}

.ship3_a {
  display: flex;
  width: 25%;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translateX(-50%);
  animation: reverseFloat 7s ease-in-out infinite;
}

.ship4_a {
  width: 13%;
  height: 5%;
  position: absolute;
  top: 67%;
  left: 43%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: miniFloat 7s ease-in-out infinite;
}

.ship5_a {
  width: 13%;
  height: 5%;
  position: absolute;
  top: 76%;
  left: 43%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: miniFloat 7s ease-in-out infinite;
}

#logo_a {
  display: flex;
  padding-top: 15%;
  margin-top: 135%;
  width: 780%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.description_a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.advice {
  display: none;
}

.userInput_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.nameInputs_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.input-container_a {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}

.userInput_a input {
  padding: 8px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
}

.icon_a {
  width: 50px;
  height: 50px;
  order: 2;
  animation: upAndDown 4s ease-in-out infinite;
}

.userInput_a input {
  color: white;
}

.userInput_a ::placeholder {
  color: white;
}

.userInput_a :hover ::placeholder {
  color: yellow;
}

.userInputWideScreen_a {
  display: none;
}

.inputField-container_a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-top: 8%;
  color: white;
}

#inputField_a {
  width: 50%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
}

.inputField-container_a input {
  color: #ffffff;
}

.entryButton_a {
  background-image: url("../images/arrow.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
  color: white;
  padding: 15px 15px;
}

.inputField-container_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.inputField-container_a ::placeholder {
  color: white;
}

.deleteUser-container_a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-top: 5%;
  color: white;
}

.deleteUser-container_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.deleteUser-container_a input {
  color: #ffffff;
}

.deleteUser-container_a ::placeholder {
  color: white;
}

#deleteField_a {
  width: 50%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
}

.backButton_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.button_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.backbtn_a {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 8px;
  margin-top: 5%;
  margin-left: 60%;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
  color: white;
}

.backButton_a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button_a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 8%;
}

.submitbtn_a {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 8px;
  margin-top: 8%;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #c51e32;
  color: white;
}

.submitbtn_a :hover {
  background-color: #008a85;
  color: #fcfc40;
}

.submitbtn2_a {
  display: none;
}

#error_a {
  color: rgb(240, 72, 72);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(10px);
  }
  50% {
    transform: translateY(0) translateX(0px);
  }
  75% {
    transform: translateY(10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes miniFloat {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-4px) translateX(2px);
  }
  50% {
    transform: translateY(0) translateX(0px);
  }
  75% {
    transform: translateY(2px) translateX(2px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes reverseFloat {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(10px) translateX(10px);
  }
  50% {
    transform: translateY(0) translateX(0px);
  }
  75% {
    transform: translateY(-10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(3px) translateX(0px);
  }
  50% {
    transform: translateY(-3px) translateX(0px);
  }
  100% {
    transform: translateY(3px) translateX(0px);
  }
}

@media only screen and (min-width: 413px) and (min-height: 918px) {
  #main-container {
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .ship-container {
    position: relative;
    width: 100%;
    height: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ship1_a {
    display: flex;
    margin-top: 3%;
    width: 15%;
    left: 5%;
    animation: float 7s ease-in-out infinite;
  }

  .ship2_a {
    display: flex;
    margin-top: 3%;
    width: 15%;
    right: 5%;
    animation: float 7s ease-in-out infinite;
    animation-delay: 2s;
  }

  .ship3_a {
    display: none;
  }

  .ship4_a {
    display: none;
  }

  .ship5_a {
    display: none;
  }

  #logo_a {
    display: flex;
    padding-top: 2%;
    padding-right: 1%;
    width: 750%;
    max-width: 670px;
    height: auto;
    margin: 0 auto;
  }

  .description_a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: -55px;
  }

  * {
    font-size: 30px;
  }

  .icon_a {
    width: 50px;
    height: 50px;
    margin-bottom: 6%;
    order: 2;
    animation: upAndDown 4s ease-in-out infinite;
  }

  .userInput_a {
    display: none;
  }

  .userInputWideScreen_a {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: -25px;
  }

  .userInputWideScreen_a {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .column1 .input-container_a img,
  .column2 .input-container_a img {
    order: -1;
    margin-right: 1px;
  }

  .column3 .input-container_a img,
  .column4 .input-container_a img {
    margin-left: 1px;
  }

  .input-container_a input {
    width: 90%;
    padding: 8px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #c51e32;
    color: white;
    margin-left: 5%;
  }

  .input-container_a img {
    margin-right: 5%;
    margin-left: 5%;
  }

  .nameInputs_a {
    margin-bottom: 20px;
  }

  .nameInputs_a ::placeholder {
    color: white;
  }

  .inputField-container_a {
    display: none;
  }

  .advice {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
  }

  .buttons_a {
    display: flex;
  }

  .backbtn_a {
    display: flex;
    justify-content: center;
    width: 55%;
    padding: 8px;
    margin-top: -26%;
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #c51e32;
    color: white;
  }

  .backButton_a {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 7%;
    margin-left: 70%;
  }

  .button_a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1%;
  }

  .submitbtn2_a {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 8px;
    margin-top: 1%;
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #c51e32;
    color: white;
  }

  .backButton_a :hover {
    background-color: #008a85;
    color: #fcfc40;
  }

  .button_a :hover {
    background-color: #008a85;
    color: #fcfc40;
  }

  .submitbtn_a {
    display: none;
  }

  #error_a {
    color: rgb(240, 72, 72);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
}
