@media (min-width:650px) {
    #logo {
        width: 100px;
        height: auto;
    }
}

* {
    font-family: 'Press Start 2P';
    font-size: 10px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo {
    margin-top: 7%;
    width: 175px;
    height: 175px;
    border-radius: 60%;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.userInput {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

.userInput input {
    padding: 8px;
    border-radius: 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5%;
}

.submitbtn {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

#mensajeError {
        color: red;
        font-size: 8px;
        text-align: center;
        margin-top: 15px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
}