
.logo_victoria{
    text-align: center;
}

.ganador {
    text-align: center;
    margin-top: 60px;
    margin-left: 50px;
    
}
.imagen_ganador{
    height: 120px;
    width: 140px;
    position: absolute;
    margin-left: -190px;
    margin-top:-35px;
}
.titulo1{
    margin-top: 20px;
    position:ab;
}
.segundo{
text-align: center;
margin-top: 70px;
margin-left: 60px;
}
.segundo_ganador{
    height: 60px;
    width: 80px;
    position: absolute;
    margin-left: -120px;
    margin-top: -10px;

}
.tercero{
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    }
.tercer_ganador{
    height: 60px;
    width: 80px;
    position: absolute;
    margin-left: -120px;
    margin-top: -10px;

}



.jugadores {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las listas */
    margin-top: 60px;
    gap:0px; /*espacio entre cada lista*/
}

.list-group {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espacio entre elementos dentro de cada lista */
    padding: 0;
    list-style: none;
}

.list-group-item {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.contenido{
    margin-top: 200px;
}