/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinea elementos verticalmente */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Barra de carga */
.progress-container {
  width: 80%;
  height: 30px;
  background-color: #333;
  border-radius: 15px;
  overflow: hidden;
  position: relative; /* Asegura que el botón no la desplace */
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #c51e32;
  text-align: center;
  line-height: 30px;
  color: #ffffec;
  font-weight: bold;
  animation: loadBar 5s linear forwards;
}

@keyframes loadBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Botón de inicio */
.start-button {
  margin-top: 20px; /* Espacio fijo debajo de la barra */
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffec;
  background-color: #c51e32;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  visibility: hidden; /* Inicialmente invisible */
}

.start-button:hover {
  background-color: #008a85;
    color: #fcfc40;
}

/* Logo en la esquina superior derecha */
.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: auto;
}

/* Texto "loading" */
.loading-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #c51e32;
  font-size: 18px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
