body{
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    color: #ffffff;
}

#background{
    position: absolute;
    background-image: url(./images/fondo.png);
    background-size: cover;
}

header{
    margin-top: 35px;
}

main{
    max-height: fit-content;
}

.body_logo_img_b{
    max-height: 300px;
    width: auto;
}

footer{
    bottom: 0;
}